{% extends "base.html" %}
{% block content %}
    {% if user %}
        <div class="container">
            <div class="jumbotron">
                <h1>Great {{ user }}!</h1>
                <p>Now you have your new account!</p>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="jumbotron">
                <h1>Hi! Let's get you an account!</h1>
                <p>Welcome!</p>
                <p>Please complete the form below and click the submit button</p>
            </div>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% if register.errors %}
                {% for error in register.ID.errors %}
                    <div class="alert alert-danger">
                        <strong>Error! </strong>{{ error }}
                    </div>
                {% endfor %}
                {% for error in register.newPassword.errors %}
                    <div class="alert alert-danger">
                        <strong>Error! </strong>{{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ID">username:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="ID" placeholder="Enter your new username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">New password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="newPassword" placeholder="Enter your new password password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="confirm">Confirm password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="confirm" placeholder="repeat the password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" name="submit">Submit</button>
                    </div>
                </div>
                {{ register.csrf_token }}
            </form>
        </div>
    {% endif %}
{% endblock %}